html, body, #map {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}
#map_root{
    height:544px !important;
}
#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 119px;
    left:68px;
    opacity:1;
}
#measurement
{
    color:black;
    background-color:gray;
}


.dijitTitlePaneContentInner{
    padding-left:0px !important;
}
.esriBasemapGalleryLabelContainer {
    padding: 0px !important;
}
.dijitContentPane esriMeasurementButtonContainer {
    width: 199px !important;
}
.ovwContainer {
    width: 246px !important;
    height: 151px !important;
    top: 5px !important;
    right: 6px !important;
}